<style>
  ul.card-list {
    list-style: none;
  }
</style>
<h1><%= course_name %> Course</h1>

<ul class='card-list'>
  <% cids = data.courses[course_name].split(',') %>
  <% cids.each do |id| %>
    <% article = sitemap.where(cid: id.to_i).first %>
    <li>
      <%= card_icon(article) %>

      <%= link_to article.title, article %>
      <% if !article.data.summary.nil? %>
        —<%= article.data.summary %>
      <% end %>

    </li>
  <% end %>
</ul>

