@charset "utf-8";

* {
  box-sizing: border-box;
}
img, video {
  max-width: 100%;
}
p, ol, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

::-moz-selection { background: rgb(255,204,1); }
::selection { background: rgb(255,204,1); }

ol ol,
ol ul,
ul ol,
ul ul {
  margin-left: 2em;
}

ul, ol {
  list-style-position: inside;
}

a {
  color: black;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  font-size: 1em;
}
h1 {
  font-size: 1.2em;
}

h1 small {
  font-weight: normal;
}

body {
  background: #f9f9f9;
  padding: 3em 0;
  font-size: 16px;

  font-family: "jaf-facitweb", "myriad-pro", "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-variant-ligatures: common-ligatures;
  -webkit-font-kerning: normal;

  font-weight: 300;
  line-height: 1.45em;
}

.course-page {
  width: 100%;
  max-width: 1060px;
  margin: auto;
  border: 3px solid black;
  background: #fefefe;
  box-shadow: 0px 2px 3px rgb(255,204,1);
  border-radius: 2px;
}
.course-page.no-aside {
  max-width: 860px;
}

.course-page > * {
  padding: 1em;
}

header {
  /*background: rgb(255,204,1);*/
  width: 95%;
  max-width: 1060px;
  font-size: 0.8em;
  margin: auto;
  margin-bottom: 1em;
}
header.no-aside {
  max-width: 860px;
}

footer {
  /*background: rgb(255,204,1);*/
  font-size: 0.8em;
  text-align: center;
  margin-top: 1em;
}

header a,
footer a {
  transition: box-shadow 0.3s ease-out;
  text-decoration: none;
}
header a:hover,
footer a:hover {
  box-shadow: 0px 4px 4px -3px rgb(255,204,1);
}


/* Link */
#main-content a {
  color: black;
  text-decoration: none;
  /*display: inline-block;*/
  padding-right: 0.1em;
  padding-left: 0.1em;

  font-weight: normal;

  border-bottom: 1px solid rgba(255,204,1,.5);
  box-shadow: 0 3px 5px -3px rgba(255,204,1,.5);

  background-size: 200% 100% !important;
  background: linear-gradient(to right, transparent, transparent 50%, rgb(255,204,1) 50%);
  background-position: 0 0;

  transition: all 0.3s ease-out;
}
#main-content a:hover {
  background-position: -100% 0;
}

.header-link {
  transition: none !important;
}


#main-content p,
#main-content ul,
#main-content ol {
  padding-bottom: 1em;
}

#main-content h1,
#main-content h2,
#main-content h3{
  padding-top: 2em;
  padding-bottom: 1em;
}

#main-content h1:first-child,
#main-content h2:first-child {
  padding-top: 0;
}

li {
  margin-bottom: 1em;
}


.template {
  display: none;
}

.default-hidden {
  display: none;
}


.hide-in-mobile {
  display: none;
}

@media screen and (min-width: 600px) {
  .hide-in-mobile {display: inline};
}


h2 > a,
h3 > a,
h4 > a
{
  opacity: 0.2;
  margin-left: 0.1em;
}


.help-mark {
  cursor: help;
}

.card-icon {
  width: 25px;
  display: inline-block;
  text-align: center;
}


/* Notes & TOC */

#main-content {
  display: table;
  padding: 0;
}
#main-content > article {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 13em;
  padding-left: 1em;
  display: table-cell;
}
#main-content > article.no-notes {
  padding-right: 1em;
}

#main-content aside.toc {
  display: table-cell;
  width: 20%;
  padding-right: 0.5rem;
  padding-left: 1rem;
  border-right: 1px dashed #aaa;
  background: #f9f9f9;
}
@media screen and (max-width: 900px) {
  #main-content aside.toc {
    display: none;
  }
}
#main-content aside.toc small {
  text-align: center;
  width: 90%;
  display: block;
  font-size: 0.8em;
  margin: 1em 0;
}
ul#toc {
  list-style: none;
  padding: 0;
  font-size: 0.6em;
}
ul#toc li {
  margin-bottom: 0;
}
ul#toc .card-icon {
  display: none;
  font-size: 0.8em;
  width: 1.3em;
}
ul#toc a {
  box-shadow: none;
  border: none;
  transition: none;

  padding-top: 0.5em;
  padding-bottom: 0.5em;

  margin-left: -1rem;
  margin-right: -0.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  display: block;
}
ul#toc li.active a{
  background: #efefef;
}


.note {
  color: #333;
  font-style: italic;
  padding: 0.3em;
  padding-top: 0;
  background: #efefef;

  display: block;
  width: 12em;
  position: absolute;
  right: 0;
}
.note:before {
  content: ' — ';
}
.add-note-button {
  display: block;
  position: absolute;
  right: 0.5em;
  background: #efefef;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  line-height: 1em;
  transition: none !important;
}
.add-note-button:hover:before{
  content: 'Add Note';
  position: absolute;
  left: -5em;
  font-size: 0.8em;
  color: #aaa;
}

.comment-box {
  display: none;
  width: 12em;
  position: absolute;
  right: 0;
  z-index:999;
  background: white;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,.3);
  padding: 0.5em;
  color: #666;
}
.comment-box textarea {
  width: 100%;
  color: #666;
}
.comment-box a {
  background: none !important;
  color: #666;
  font-size: 0.8em;
  margin-left: .5em;
}
.comment-box a:hover {
  background: rgba(255,255,0,.2) !important;
}


#post ul,
#post ol {
  margin-left: 1.5em;
}


#notes {
  /*width: 40%;*/
  /*float: right;*/
}
#notes ul {
  list-style: none;
  padding: 0;
}
#notes ul li {
  margin-bottom: 0.5em;
}

@media screen and (max-width: 480px) {
  #main-content > article {
    position: relative;
    padding-right: 3em;
  }
  .note {
    width: 3em;
  }


  #notes {
    width: 100%;
    float: right;
  }
}


.attachment__size {
  display: none;
}

figcaption {
  font-size: 0.8em;
  text-align: center;
  margin-top: -0.3em;
  margin-bottom: 1.5em;
  color: #333;
}


.wistia_responsive_padding {
  margin-top: 1em;
  margin-bottom: 1em;
}