<% wrap_layout :layout do %>
  <article id='post' data-cid="<%= current_page.data.cid %>">
    <h1><%= card_icon(current_page) %> <%= current_page.data.title %></h1>
    <%= yield %>
  </article>
<% end %>
