Hi <input type='text' id='reader-name' placeholder='there'> (<input type='text' id='reader-email' placeholder='email@example.com'>)! Welcome to the <a href='/'>Beginnnig jQuery Course</a>.
<small>Please enter your email</small>