<a id='sign-in-to-chat' href='/profile.html'>Profile</a>
<script>
  (function(){
    var user = (new UserData()).getAuth();
    if (user === null) {
      $('#sign-in-to-chat').text("Sign in to chat with mentor");
    }
  })();
</script>
