<h1>Articles tagged '<%= tagname %>'</h1>

<ul class='card-list'>
<% page_articles.sort{|a,b| a.data.cid <=> b.data.cid}.each do |article| %>
  <li>
    <p><%= link_to article.title, article %> <!--<span><%= article.date.strftime('%b %e') %></span>-->
      <% if !article.data.summary.nil? %>
        —<%= article.data.summary %>
      <% end %>
    </p>
  </li>
<% end %>
</ul>

